.row--4{
    padding-top: 70px;
  }
  
  .row--4__title{
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  }
  
  .row--4__year{
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  }
  
  .row--4__paragraph{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  
  }