.row--1__navigation{
    display: flex;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
   
  }
  .navigation__box{
    display: flex;
    gap: 35px;    
  }

  .bjorgor{
    display: none;
   }