@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
@import'navigationRow.scss';
@import'johnRow.scss';
@import 'recentPostsRow.scss';
@import 'FeaturedWorksRow.scss';
@import'footerRow.scss';
@import 'mediaQueries.scss';

.container{
  background-color: white;
  padding: 20px;  
}
a{
  text-decoration: none; 
  color: black;
}












