@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

body {
  background-color: antiquewhite;
}
.container{
  background-color: white;
  padding: 20px;
  
}


.row--1__navigation{
  display: flex;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
 
}
.navigation__box{
  display: flex;
  gap: 35px;
  
}

.row--2{
  padding: 100px 100px 60px 100px;
}

.header-right{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 75px;
}

.header-left{
  display: flex;
  max-height: 243px;
  
}


.header-right__top{
display: flex;
flex-direction: column;
justify-content: flex-end;
font-family: 'Heebo', sans-serif;
font-size: 44px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
}

.header-right__bottom{
  display: flex;
  justify-content: flex-start;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px; 
}
.header-right__button{
font-family: 'Heebo', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;
padding: 10px 15px;
background-color:  #FF6464;
border: 1px solid  #FF6464;;
color: white;
}

.row--3{
background-image: url(assets/images/Rectangle\ 23.png);
padding: 50px 30px;
background-repeat: no-repeat;
background-size: cover;
}

.row--3__box{
display: flex;
flex-direction: column;
gap: 15px;
padding: 24px;
background-color: white;
border: 1px solid white;
border-radius: 4px;
}
.row--3__box-text{
  display: flex;
  text-align: start;  
}
.row--3__middle-text{
  display: flex;
  justify-content: space-around;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

.row--3__box-text--title{
font-family: 'Heebo', sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
}

.row--3__box-text--paragraph{
font-family: 'Heebo', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
}

.random-line{
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row--4{
  padding-top: 70px;
}

.row--4__title{
font-family: 'Heebo', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0px;
}

.row--4__year{
font-family: 'Heebo', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
}

.row--4__paragraph{
font-family: 'Heebo', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}

.media{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-top: 150px;
  padding-bottom:25px;
}

.row--5__box{  
  width: 100%;  
}

.copyRight{
  padding-bottom:55px ;
}
.bjorgor{
 display: none;
}

@media screen and (max-width: 650px){

  .container{
    min-width: 400px;    
  }

  .row--2{
    padding: 31px;
  }

  .header-left{  
     order: 0;
     max-width: 170px;
     max-height: 170px;
     margin: 0 auto;
    }

  .header-right{
    order: 1;
    text-align: center;
    justify-content: center;
     font-size: 50%;
     padding-right: 0px;
    }

  .row--3{
    gap: 20px;
  }

  .artWorks{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation__box{
    display: none;
  }

  .bjorgor{
   display: block;
   
  }

 
  .header-right__top{
    font-family: 'Heebo', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px; 
    }
    
  .header-right__bottom{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    }
  
    .row--3__middle-text{
      font-family: 'Heebo', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      
    }
    
    .row--3__box-text--title{
      font-family: 'Heebo', sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0px;    
    }
    
    .row--3__box-text--paragraph{
      font-family: 'Heebo', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      
      
    }

    
     
   
  
}